
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="/static/favicon.ico"> -->

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bs4_dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/album.css" rel="stylesheet">
  </head>
    <body>
  <nav class="navbar bg-inverse">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav bg-inverse">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

      <main role="main">

        <section class="jumbotron text-center">
          <div class="container">
            <img src="http://xecamera.weizmann.ac.il/snapshot.cgi?user=xenon&amp;pwd=1234&amp;t=1516185933128" width="320" height="240" onload="setTimeout(function() {src = src.substring(0, (src.lastIndexOf(&quot;t=&quot;)+2))+(new Date()).getTime()}, 1000)" onerror="setTimeout(function() {src = src.substring(0, (src.lastIndexOf(&quot;t=&quot;)+2))+(new Date()).getTime()}, 5000)" alt="">

            <img src="/static/ninja_turtle.jpg" hspace="20px" vspace="5px" width="100px" height="100px">

            <img src="http://132.77.45.80:1234/video.mjpg?ds=1" align="center" width="320" height="240" scrolling="no" frameborder="no" marginheight="0px" <="" img="">

  
          </div>
        </section>
        <section>
        <div class="card text-center">
            <div class="card-header">
            Featured
            </div>
                <div class="card-block"

                  <h4 class="card-title">Special title treatment</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            <div class="card-footer text-muted">
             2 days ago
            </div>
        </div>
      </section>
      </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/jquery/jquery.min.js"><\/script>')</script>
    <script src="/static/holder/holder.min.js"></script>
    <!-- <script src="/static/popper/popper.min.js"></script> -->
    <script src="/static/bs4_dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
